/* ---------------------------------------------------
                    顏色指引
    Gold: rgb(172, 140, 71);
    White: rgb(226, 226, 226);
    Grey: rgb(128, 128, 128);
    Black: rgb(15, 15, 15);
           rgba(15, 15, 15, 0.74);
---------------------------------------------------*/

/* ---------------------------------------------------
                    全域樣式
---------------------------------------------------*/




body {
    font-size: 19px;
    font-family: "cronos-pro", "alegreya", calibri, candara, "segoe UI", Optima, Arial, sans-serif;
    color: rgb(226, 226, 226);
    background: rgb(15, 15, 15);
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2% 6% 6% 6%; /* 使container內縮 */
}

.container {
    background: rgb(15, 15, 15); /* IE8 */
    background: rgba(15, 15, 15, 0.74);
    padding: 30px; /* 使其內容內縮 */
}

h1,h2,h3{
    font-family: "double-pica-sc", "alegreya sc", Garamond, "Baskerville Old Face", "Times New Roman", serif;
}


h1 {
    font-size: 3.3684em;
    line-height: 1.2656em;
    margin-top: 0.4219em;
    margin-bottom: 0;
}

h2 {
    font-size: 2.2632em;
    line-height: 1.2558em;
    margin: 0.4219em auto 0.4219em auto;
}

h3 {
    font-size: 1.5263em;
    font-weight: normal;
    line-height: 1.8621em;
    margin-top: 0.9310em;
    margin-bottom: 0;
}

p {
    font-size: 1em;
    line-height: 1.4211em;
    margin-top: 1.4211em;
    margin-bottom: 0;
}

img {
    width: 100%
}

a:link {
    color: rgb(172, 140, 71);
}

a:visited {
    color: rgb(129, 105, 54);
}

a:hover {
    color: rgb(224, 182, 90);
}

a:active {
    color: rgb(252, 217, 142);
}




.main-navi li {
    list-style: none;
    text-align: center;
    margin: 20px 0;
}

.main-navi ul {
    padding-left:0;
}

.main-navi a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 10px;
    background: rgba(67,67,67, 0.37);
    color: rgb(180,180,180);
}

.main-navi a:visited {
    color: rgb(106, 106, 106);
}

.main-navi a:hover {
    color: rgb(255, 255, 255);
    font-size: 1.25em;
    background: rgba(60,60,60, 0.8);
    transition: 1s font-size, 1s color;
}

.main-navi a:active {
    color: rgb(252, 217, 142);
}


/* ---------------------------------------------------
                    logo樣式
---------------------------------------------------*/

.logo {
    /* 以下三個設定為置中的設法 */
    display: block; /* 原為inline */
    margin: 0 auto; /* 左右為auto,會使圖置中 */
    width: 150px;   /* 但圖也要設為150px */
}

    .logo img {
        width: 150px;
    }
    
    

/* ---------------------------------------------------
                    footer樣式
---------------------------------------------------*/

footer {
    padding: 10px 0;
}

    footer h4 {
        text-transform: uppercase;
    }

    footer p {
        margin: 0;
    }