body {
    font-family: 'Lobster', cursive;
    font-size : 19px;
}
h1 {
    font-family: 'Lobster Two', cursive;/* 1 */
}
h2 {
    font-family: 'Lobster Two', cursive; /* 1 */
}
h3 {
    font-family: 'Lobster', cursive; /* 1 */
}