<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>歡迎使用 ASP.NET Web API!</h1>
                <h2>修改此範本中的代碼以快速開始開發您的 ASP.NET Web API。</h2>
            </hgroup>
            <p>
                ASP.NET Web API 可讓您透過 HTTP 直接將應用程式、資料和服務
                公開至 Web。
            </p>
            <p>
                若要進一步了解 ASP.NET Web API，請造訪
                <a href="http://go.microsoft.com/fwlink/?LinkID=238195" title="ASP.NET Web API Website">http://asp.net/web-api</a>。
                這個網頁的特色在於 <mark>影片、教學課程和範例</mark> ，可協助您深入了解 ASP.NET Web API。
                如果您對 ASP.NET Web API 有任何疑問，請造訪
                <a href="http://go.microsoft.com/fwlink/?LinkID=238196" title="ASP.NET Web API 論壇">我們的論壇</a>。
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>我們建議下列步驟:</h3>
        <ol class="round">
            <li class="one">
                <h5>開始使用</h5>
                ASP.NET Web API 是一個架構，可輕鬆地建置 HTTP 服務並擴及廣大範圍的
                用戶端 (包括瀏覽器和行動裝置)。ASP.NET Web API
                是一個想理平台，可用於在 .NET Framework 上建置 RESTful 應用程式。
                <a href="http://go.microsoft.com/fwlink/?LinkId=245160">進一步了解...</a>
            </li>

            <li class="two">
                <h5>加入 NuGet 套件並開始編碼</h5>
                NuGet 可讓您輕鬆地安裝並更新免費的程式庫和工具。
                <a href="http://go.microsoft.com/fwlink/?LinkId=245161">進一步了解...</a>
            </li>
            <li class="three">
                <h5>尋找 Web 裝載</h5>
                您可以輕鬆地尋找可為您的應用程式提供適當功能及價格的
                Web 裝載公司。
                <a href="http://go.microsoft.com/fwlink/?LinkId=245164">進一步了解...</a>
            </li>
        </ol>
    </section>
</div>
